


    header{
    background-color: tomato;
    
}

h1{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{

 width: 177px;
 height: 22px;
 display: block;
 cursor: pointer;
 float: center;
 
}

button:hover{
    color: white;
   
}

input{
    text-align: center;
    float: center;
    margin-top: 50px;
    
}
div {
    display: grid ;
    grid-template-columns: repeat(1, 1fr 1fr);
    margin: 2%;
   
}


